{# src/Syntax/BlogBundle/Resources/views/modifier.html.twig #}

{% extends "SyntaxBlogBundle::layout.html.twig" %}

{% block title %}
	Ajouter un article - {{ parent() }}
{% endblock %}

{% block blog_body %}

	<h2>Ajouter un article</h2>

	{% include "SyntaxBlogBundle:Blog:formulaire.html.twig" %}

	<p>
		Vous ajoutez un nouvel article
	</p>

	<p>
		<a href="{{ path('blog_accueil') }}" class="btn">
			<i class="icon-chevron-left"></i>
			Retour à l'accueil
		</a>
	</p>

{% endblock %}